{% extends 'link/basic.html' %}
{% block title %} Change Password {% endblock %}
{% block css %}
/* Styling for form */
* {
margin: 0;
padding: 0;
box-sizing: border-box;

transition: all .2s linear;
}

.form-container {
min-height: 91vh;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
background-size: cover;
background-position: center;
perspective: 1000px;
font-family: Arial, Helvetica, sans-serif;
}

.form-container form {
height: auto;
width: 350px;
background: rgba(255, 255, 255, .1);
text-align: center;
align-items: center;
border-radius: 5px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
border-top: 1px solid rgba(255, 255, 255, 0.3);
border-left: 1px solid rgba(255, 255, 255, 0.3);
backdrop-filter: blur(10px);
transform-style: preserve-3d;
}

.form-container form h3 {
font-size: 2rem;
padding: 30px 0;
margin-bottom:0.5rem;
margin-top: 1rem;
color: #ccc;
letter-spacing: 3px;
}

.form-container form i {
padding: 0.5px;
font-size: 20px;
color: #bbb;
}

.form-container form input {
outline: none;
border: none;
height: 40px;
width: 82%;
background: rgba(0, 0, 0, 0.1);
color: rgba(255, 255, 255, 0.7);
box-shadow: 0 0 5px rgba(0, 0, 0, .5) inset;
font-size: 17px;
padding: 0 10px;
margin: 15px 0;
letter-spacing: 1px;
border-radius: 15px;
}

.form-container form input[type="submit"] {
width: 90%;
cursor: pointer;
background: linear-gradient(90deg, deeppink, blueviolet);
margin-top: 30px;
border-radius: 50px;
}

.form-container form input[type="submit"]:hover {
letter-spacing: 4px;
}

.container-x {
display: block;
}

.icon {
margin-right: 8px;
}

{% endblock %}


{% block body %}
{% for message in messages %}


<div class="" id="alertbox">
		<div class="flex justify-between items-center bg-{{ message.tags }}-200 relative text-{{ message.tags }}-600 py-3 px-3" role="alert">
			
			<span class="font-semibold text-{{message.tags}}-700">{{message}}</span>

			<span class="absolute top-0 bottom-0 right-0 px-4 py-3 closealertbutton">
				<svg class="fill-current h-6 w-6 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20">
					<title>Close</title>
					<path
						d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
				</svg>
			</span>
		</div>
	</div>
{% endfor %}
<div class="form-container">
    <form action="" id="form" method="POST">{% csrf_token %} {{ form.id }}
        <h3> New Password</h3>
        {% if validlink %}
    <div>
        <class class="container-x">
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
             {{ form.new_password1 }}
        </class>

        <div class="container-x">
            <span class="icon"><i class="fas fa-lock"></i></span>
             {{ form.new_password2 }}
        </div>
 
        {% else %}
      <div class="grid grid-rows-1 ">
        <div class="row-span-full">
          <span style="color: red; font-weight: bold;">The password reset link was invalid, it has alredy been used. Please request a new one.</span>
        </div>
      </div>
      {% endif %}

        
        
        <input type="submit" value="Reset Password"  />
    </div>
    </form>
</div>
{% endblock %}
{% block js %}
<script>

    var form = document.getElementById('form');

    form.addEventListener('mouseleave', function () {
        form.style.transform = 'rotateX(0deg) rotateY(0deg)';

    });

    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'New Password';
    form_fields[2].placeholder = 'Confirm Password';

</script>
{% endblock %}