{% extends 'link/basic.html' %}
{% block title %} Password Reset Sent {% endblock %}
{% block css %}
{% endblock %}

{% block body %}
<div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">   
        <p class="sm:text-2xl text-xl font-medium title-font mb-4 text-gray-200">We have emailed you instructions to reset your password.</p> <p class="sm:text-2xl text-xl font-medium title-font mb-4 text-gray-200">If an account exists with the email you entered. You will receive the token.</p><p class="sm:text-2xl text-xl font-medium title-font mb-4 text-gray-200"> If you don't receive an email. Check your spam folder or make sure you entered the correct email.</p>
      </div>
</div>
<br>
<br>
{% endblock %}